extends includes/_layout

block head
	+global_headstuff({title:"Producer-Network - mp3 direkt vom Bauern"})

block body

	.TextBox
		.content
			:markdown
				"mp3 direct from the source.", das alte Moto von damals. "lach", wie Hakan sagen würde. Tach, das PN ist wieder online, was will man machen. Xitrix hat sich beruhigt und ich bin wieder geil. Ich kenne immer noch viele User von damals und alle machen noch Musik. Foren und mp3 Uploadseiten werden zwar immer noch nicht wieder gebraucht, dafür gibt´s eben Soundcloud & Facebook. Allerdings sind nischen Communities wieder interessant. Das große Geld macht niemand mehr und was zählt sind Leute die einen verstehen und für den eigenen Sound brennen.

				Da ich die Domain noch habe, die Leute noch kenne und viel von ihrer Musik höre und selber noch mache, hier nun die Idee: Anfangen wie am Anfang. Man supportet sich gegenseitig. Keine Webseite für mich alleine, sondern für und mit Leuten die ich mag, schätze und abgrundtief hasse.

				Es wird hier "erstmal" nicht viel geben. Eine Artist Übersicht mit links zu Soundcloud & Co. von den Leuten und dieser Text hier. Ich würde hier gerne Musik zum abspielen haben, da code ich nämlich schon was entsprechendes. Kostenlose Musik auf donation Basis, verpackt als Netlabel im Spotify-Outfit mit Offline-Cache für den Mobile-User von heute. Auch will ich technisch auf so wenig wie möglich setzen. Einfache html Seiten, wenig Javascript. Schnell solls sein und unkompliziert. Wenig Stress für mich und Euch.

				Wirds ein Forum geben? Smalltalk? MyTunes? Denke nicht. Mal sehen. Vielleicht! Vorerst nur ein Discord-Chat für alle unter discord.gg. Wir sind dort alle 28h am Tag anwesend und reden Smalltalk oder idlen. Kommt vorbei und huldigt den alten Zeiten.

				Auf Soundcloud könnt Ihr eure Tracks zu unserer Gruppe hinzufügen!

				Polarity