extends includes/_layout

block head
	+global_headstuff({title:"Login ~ Producer-Network"})

block body
	.Form
		form(id="LoginForm", action="/api/login", method="POST")
			h2 Login
			div.form_input
				label Username
				input(type="text", name="username")

			div.form_input
				label Passwort
				input(type="password", name="password")

			div.button_bar
				input(type="submit")
