extends includes/_layout

block head
	+global_headstuff({title:"Anmelden / Signup ~ Producer-Network"})

block body

	.Form
		form(action="/api/signup", method="POST")
			h2 Anmelden
			div.form_input
				label Username
				input(type="text", name="username")

			div.form_input
				label E-Mail
				input(type="text", name="email")

			div.form_input
				label Passwort
				input(type="password", name="password")

			div.button_bar
				input(type="submit")
